@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Arg - Jujuy<br />
    San Salvador de Jujuy, Cp 4600<br />
    <abbr title="Phone">P:</abbr>
    +59 - 388 - 5012769
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:milton_molloja@hotmail.com">milton_molloja@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:milton.molloja@gmail.com">milton.molloja@gmail.com</a>
</address>
